input, select, textarea {
  display: block;
  outline: none;
  box-sizing: border-box;
} 

.info-icon {
  height: 15px;
  width: 15px;
  margin: 0 5px;
}
.info {
  display: inline;
  position: relative;
  top: 1px;
}
.info .info-text {
  display: none;
  width: 150px;
  background-color: #7BA3D7;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: relative;
  left: 25px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
  font-size: smaller;
}
.info:hover .info-text {
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.info .info-text::after {
  content: " ";
  position: absolute;
  top: 10px;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #7BA3D7 transparent transparent;
}

#create-post-form {
  padding: 0 20px;
  max-width: 100vw;
}
#form-container {
  display:flex;
  flex-wrap: wrap;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  min-height: 200px;
  max-height: 60vh;
}

.form-item {
  margin-bottom: 10px;
  max-width: 50%;
  padding: 0 15px;
}
.form-radio {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: #7BA3D7 2px solid;
  border-radius: 50%;
  transition: 0.2s all linear;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
  position: relative;
  top: 2px;
}
.form-radio:checked {
  border: #7BA3D7 8px solid ;
}
.form-radio-label {
  display: block;
  color: grey;
}


#create-post-form input[type="text"] {
  background-color: rgb(231, 231, 231);
  border: none; 
  width: 90%;
  height: 30px;
  padding: 0 5px;
  font-size: 15px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
} 
#create-post-form textarea {
  background-color: rgb(231, 231, 231);
  border: none; 
  width: 90%;
  height: 90px; 
  overflow-y: scroll;
  padding: 0 5px;
  font-size: 15px;
  resize: none;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#create-post-form select {
  width: 90%;
  height: 30px;
  border-radius: 15px;
  border: 0px;
  padding: 0 5px;
  background-color: #7BA3D7;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
  margin-top: 10px; 
}

#create-post-form select option { /* unfortunately doesnt work */
  background-color: white;
  color: #7BA3D7;
}
#create-post-form select option:checked { /* unfortunately doesnt work */
  background-color: #7BA3D7;
  color: white;
}

.form-checkbox {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 3px 10px 3px 0px;
  height: 16px;
  width: 16px;
  border: #7BA3D7 2px solid;
  transition: 0.2s all linear;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
  position: relative;
  top: 5px;
}
.form-checkbox:checked {
  border: #7BA3D7 8px solid;
}

input[type="file"] {
  display: none;
}
#upload-box {
  height: 150px;
  width: 220px;
  /* width: 100%; */
  background-color: rgb(231, 231, 231);
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
  cursor: pointer;
}
#upload-image-filename {
  position: relative;
  bottom: 25px;
  left: 5px;
  color: white;
  width: 200px;
  height: 30px;
  white-space: nowrap; 
  text-overflow: ellipsis;
  overflow: hidden;
  filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 1px black);
}

#create-post-form-button {
  background-color: #7BA3D7;
  color: white;
  display: block;
  cursor: pointer;
  height: 30px;
  width: 110px;
  text-align: center;
  border: #7BA3D7 solid 3px;
  padding: 0 10px;
  font-size: 15px;
  margin: 15px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
}
#create-post-form-button:hover {
  position: relative;
	bottom: 2px;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.4));
}
#create-post-form-button:active {
  position: relative;
	top: 2px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
}

.mandatory-fields::after {
  content: "*";
  color: red;
}