#event-container > div {
    padding: 0 35px;
}

#event-tags-container > div {
    display: inline-block;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    padding: 0 15px;
    margin-right: 15px;
    background-color: #7BA3D7;
    color: white;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
}
#event-tags-container > div > p {
    position: relative;
    top: 3px;
    text-transform: capitalize;
}

#event-container h3 {
    color: #7BA3D7;
    margin-bottom: 0;
}

#pComment, #cComment {
    background-color: rgb(231, 231, 231);
    border: none; 
    /* width: 90%; */
    /* height: 50px;  */
    max-width: 500px;
    margin: 5px 0;
    /* overflow-y: scroll; */
    padding: 5px 5px;
    font-size: 15px;
    resize: none;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.textarea {
    display: inline-block; 
    /* width: 100%;  */
    overflow: hidden; 
    resize: both; 
    /* min-height: 25px; */
}
.textarea[contentEditable]:empty::before {
    content: "Type here to post a comment...";
    color: grey;
}

#pComment-button, #cComment-button {
    background-color: #7BA3D7;
    color: white;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    border: #7BA3D7 solid 3px;
    padding: 0 10px;
    font-size: 15px;
    margin: 0px 15px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
}
#pComment-button:hover, #cComment-button:hover {
    position: relative;
    bottom: 2px;
    filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.4));
}
#pComment-button:active, #cComment-button:active {
    position: relative;
    top: 2px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
}
#cCommentForm {
    margin: 10px 0;
}

.childComments {
    border: rgba(0, 0, 0, 0.25) 1px solid;
    border-radius: 16px;
    box-shadow : 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    margin: 15px 0;
}

.profile-pic {
    height: 34px;
    width: 34px;
    border: white solid 3px;
    margin: 10px 10px 0px 10px;
    padding: 0px;
    border-radius: 50%;
    background-color: #7BA3D7;
    float: left;
}

.commenter-username {
    display: inline-block;
    margin: 0;
    padding-top: 15px;
    color: black; 
}

.childComments-inner {
    padding-left: 60px;
    padding-right: 20px;
}
.childComments-header{
    padding-right: 20px;
}

.childComments-inner hr {
    margin-top: 20px;
}

#event-loctimedate-container p {
    overflow: hidden;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    bottom: 5px;
}
.event-owner-profile-pic {
    height: 34px;
    width: 34px;
    border: white solid 3px;
    margin-right: 10px;
    padding: 0px;
    border-radius: 50%;
    background-color: #7BA3D7;
    display: inline-block;
}
#event-owner {
    display: inline-block;
    position: relative;
    bottom: 15px;
}
.detailsIcon {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 10px;
    padding: 3px;
}
.comment-content {
    padding-left: 60px;
}
#event-image-container {
    float: right;
    width: 30%;
}
#event-image {
    height: 200px;
    width: 100%;
}

#attending-button {
    background-color: #7BA3D7;
    color: white;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    border: #7BA3D7 solid 3px;
    padding: 0 10px;
    font-size: 15px;
    margin-top: 5px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
}

.dropdown-icon {
    height: 15px;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
    transition: 0.2s all linear;
}
#event-attending-container ul {
    margin: 0;
    list-style-type: square;
}
#toggle-attendees {
    cursor: pointer;
}